body {
    font-family: 'Open Sans', sans-serif;
}

.title {
    margin-top: 1em;
    margin-bottom: 0.3em;
    border-bottom: 1px solid #222;
    display: inline-block;
}

.history-item {
    display: table;
    border-bottom: 1px solid #76a9fc;
    color: #2770e8;
    cursor: pointer;
}

.history-item:hover {
    color: #003fa8;
}

.status-no-error .error {
    display: none;
}
.status-no-ok .result {
    display: none;
}
.status-no-loading .loading {
    display: none;
}
.status-loading .input-container {
    display: none;
}

.token-sep::before {
    content: ' ';
}

.token.fictional::before {
    content: '⚓';
}

.meta-container .meta-box {
    display: none;
}

.meta-container {
    position: relative;
}

.meta-container-active > .meta-box {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    border: 1px solid red;
    position: absolute;
    left: -1em;
    top: 1em;
    background-color: yellow;
    width: 15em;
    z-index: 20;
}

.meta-container-button {
    display: none;
}

.meta-container:hover > .meta-container-button {
    display: inline-block;
    position: absolute;
    top: -0.5em;
    left: -0.5em;
    font-size: 10pt;
}

.meta-container-button::before {
    content: '\1F914';
}

.meta-container-active {
    background-color: yellow;
}

.meta-container-hovered {
    border: 1px solid red;
}

.meta-key::after {
    content: ': ';
}

.expander-button::before {
    content: '▶';
    display: inline-block;
}
.expander-active > .expander-button::before {
    content: '▼';
    display: inline-block;
}
.expander-header {
    display: inline-block;
    margin-left: 1em;
}

.expandable {
    display: none;
}

.expander-active > .expandable {
    display: block;
    margin-left: 1em;
}


.lambda-term {
    display: inline-block;
}
.lambda-term {
    margin-left: 2px;
    margin-right: 2px;
}
